body {
    margin: 0;
    line-height: 1;
    font-family: 'Noto Sans TC', sans-serif;
}
a {
    text-decoration: none;
}
header {
    background-color: rgba(0, 255, 21, 0.253);
}
footer {
    background-color: rgba(0, 255, 21, 0.253);
}
h1 {
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0;
    margin: 0;
}
div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
li {
    list-style: none;
    border: 0;
}
ul {
    padding: 0;
    margin: 0;
}
.container {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
}
.fw-bolder {
    font-weight: bolder;
}
.cursor-pointer {
    cursor: pointer;
}
.d-flex {
    display: flex;
}
.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-12 {
    padding: 0 12px;
}
.mx-12 {
    margin: 0 12px;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-color {
    color: rgba(206, 5, 189, 0.808)
}
.under-line {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 136, 0);
    transform: scaleX(0);
    transition: all 0.3s;
    transform-origin: left;
}
.under-line-wrapper:hover .under-line {
    transform: scaleX(1);
}
.w-100 {
    width: 100%;
}
.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 32px 0;
}
.border-radius-6 {
    border-radius: 6px;
}
.overflow-hidden {
    overflow: hidden;
}
.w-50 {
    width: 50%;
}
.w-65 {
    width: 65%;
}
.se2-text {
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.70);
    line-height: normal;
}
.se2-text-wrapper {
    margin-left: -15%;
    display: flex;
    align-items: center;
}
.pb-8 {
    padding-bottom: 8px;
}
.w-1\/4 {
    width: 25%;
}
.fs-20 {
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.card-shadow {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.pb-12 {
    padding-bottom: 12px;
}
.pd-12 {
    padding: 12px;
}
.h-333 {
    height: 333px;
}
.mxm-12 {
    margin: -12px;
}
.over-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.br-14 {
    border-radius: 14px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.mb-68 {
    margin-bottom: 68px;
}
.mx-12 {
    margin-right: 12px;
    margin-left: 12px;
}
.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.position-fixed {
    position: fixed;
    left: 0;
    right: 0;
}
.py-24 {
    padding: 24px 0;
}
.text-black {
    color: black;
}
.pl-54 {
    padding-left: 54px;
}
.py-40 {
    padding-bottom: 40px;
    padding-top: 40px;
}
.flex-col {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.flow-grow {
    flex-grow: 1;
}
.flex-shrink {
    flex-shrink: 0;
}
.py-46 {
    padding-top: 46px;
    padding-bottom: 46px;
}